#### Exercise
Create a DB and solve a business question

Create a note book that does the following

1 Insert atleast ***3 different coins** into the "coins" table

2 Insert ***5 daily price records** for each coin into the "prices" table.

3 Create a business question i.e what is the average price for each coin, what is the highest price for each coin? etc.

4 Write an SQL query to solve the business question

#### Step 1: Creating a DB file

In [62]:
conn=sqlite3.connect("Sql.db")

#### Step 2: Creating Tables

In [12]:
import sqlite3
import pandas as pd

In [13]:
with sqlite3.connect("sql.db") as conn:
    cursor=conn.cursor()
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS coins(
    coin_id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    symbol TEXT NOT NULL
    )
 """)
conn.commit
print("Table 'coins'created successfully.")

Table 'coins'created successfully.

In [ ]:
# Inserting coins into the coins table
coins=[
    ('Bitcoin', 'BTC'),
    ('Ethereum', 'ETH'),
    ('Solana', 'SOL')
]
cursor.executemany("""
INSERT INTO coins(name, symbol) VALUES(?,?)
""", coins)
conn.commit()

In [26]:
# To get results for inserted coins
cursor.execute("SELECT * FROM coins")
inserted_coins=cursor.fetchall()
print("Inserted coins:", inserted_coins)

Inserted coins: [(1, 'Bitcoin', 'BTC', None, '2025-08-19 15:17:22'), (2, 'Ethereum', 'ETH', None, '2025-08-19 15:17:22'), (3, 'Solana', 'SOL', None, '2025-08-19 15:17:22'), (4, 'Bitcoin', 'BTC', None, '2025-08-19 15:21:30'), (5, 'Ethereum', 'ETH', None, '2025-08-19 15:21:30'), (6, 'Solana', 'SOL', None, '2025-08-19 15:21:30'), (7, 'Bitcoin', 'BTC', None, '2025-08-19 16:17:39'), (8, 'Ethereum', 'ETH', None, '2025-08-19 16:17:39'), (9, 'Solana', 'SOL', None, '2025-08-19 16:17:39'), (10, 'Bitcoin', 'BTC', None, '2025-08-19 16:18:24'), (11, 'Ethereum', 'ETH', None, '2025-08-19 16:18:24'), (12, 'Solana', 'SOL', None, '2025-08-19 16:18:24')]

In [27]:
# To make our results more appealing we convert it into a table using pandas
import pandas as pd

db_path=("sql.db")
with sqlite3.connect(db_path) as conn:
    df=pd.read_sql("SELECT * FROM coins", conn)
    print("DataFrame from SQL")
    print(df.head())

DataFrame from SQL
   coin_id      name symbol price         last_updated
0        1   Bitcoin    BTC  None  2025-08-19 15:17:22
1        2  Ethereum    ETH  None  2025-08-19 15:17:22
2        3    Solana    SOL  None  2025-08-19 15:17:22
3        4   Bitcoin    BTC  None  2025-08-19 15:21:30
4        5  Ethereum    ETH  None  2025-08-19 15:21:30

In [61]:
# Creating the prices table
cursor.execute("""
CREATE TABLE IF NOT EXISTS prices(
price_id INTEGER PRIMARY KEY AUTOINCREMENT,
coin_id INTEGER NOT NULL,
price REAL NOT NULL,
date TIMESTAMPDEFAULT CURRENT_TIMESTAMP,
FOREIGN KEY(coin_id) REFERENCES coins(coin_id)
)
""")

# Getting the auto generated IDs for Bitcoin, Ethereum and Solana

cursor.execute("INSERT INTO coins(name, symbol) VALUES (?, ?)", ("Bitcoin", "BTC"))
btc_id = cursor.lastrowid
cursor.execute("INSERT INTO coins(name, symbol) VALUES (?, ?)", ("Ethereum", "ETH"))
eth_id = cursor.lastrowid
cursor.execute("INSERT INTO coins(name, symbol) VALUES (?, ?)", ("Solana", "SOL"))
sol_id = cursor.lastrowid

# Inserting daily price records into the coins we inserted

cursor.executemany("""
INSERT INTO prices(coin_id, price) VALUES(?,?)
""",
[
    (btc_id,60000),
    (btc_id,64000),
    (btc_id,70000),
    (btc_id,72000),
    (btc_id,80000),
    (eth_id, 3500),
    (eth_id, 3700),
    (eth_id, 3800),
    (eth_id, 4000),
    (eth_id, 4200),
    (sol_id,  150),
    (sol_id,  200),
    (sol_id,  210),
    (sol_id,  300),
    (sol_id,  500)
]
)
conn.commit()

In [60]:
# To display our results we perform an inner join
db_path=("sql.db")

with sqlite3.connect(db_path) as conn:
    query= """
    SELECT c.name, c.symbol, p.price, p.date
    FROM coins c
    JOIN prices p ON c.coin_id = p.coin_id
    ORDER BY p.date DESC
    """
    df=pd.read_sql(query,conn)

print(df)

        name symbol    price  date
0    Bitcoin    BTC  60000.0  None
1    Bitcoin    BTC  64000.0  None
2    Bitcoin    BTC  70000.0  None
3    Bitcoin    BTC  72000.0  None
4    Bitcoin    BTC  80000.0  None
5   Ethereum    ETH   3500.0  None
6   Ethereum    ETH   3700.0  None
7   Ethereum    ETH   3800.0  None
8   Ethereum    ETH   4000.0  None
9   Ethereum    ETH   4200.0  None
10    Solana    SOL    150.0  None
11    Solana    SOL    200.0  None
12    Solana    SOL    210.0  None
13    Solana    SOL    300.0  None
14    Solana    SOL    500.0  None